/* Container Utama lo (pastiin pake flex biar kiri kanan) */
.container-utama {
    display: flex;
    height: 100vh;
}

/* --- OVERLAY SETTINGS --- */
.overlay {
    display: none; /* Sembunyi awal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Gelapin background */
    z-index: 999;
    justify-content: center;
    align-items: center;
}

/* --- BOX POP UP --- */
.pop-up-google {
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    animation: muncul 0.3s ease;
}

@keyframes muncul {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.account-chooser-container {
    padding: 30px 0 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.google-logo { width: 75px; margin-bottom: 10px; }
.header h2 { font-size: 22px; font-weight: 500; margin: 5px 0; }
.header p { font-size: 14px; margin-bottom: 20px; }

/* --- LIST ITEM --- */
.account-list { border-top: 1px solid #dadce0; }

.account-item {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    border-bottom: 1px solid #dadce0;
    cursor: pointer;
    transition: 0.2s;
}

.account-item:hover { background-color: #f7f8f8; }

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.account-info { text-align: left; }
.account-info .name { display: block; font-size: 14px; font-weight: 600; color: #3c4043; }
.account-info .email { font-size: 12px; color: #70757a; }